@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.radar-chart-container {
  display: flex;
  justify-content: center;
  width: 80%; /* Adjust the percentage to make it more or less wide */
  max-width: 1000px; /* Limit the max width for larger screens */
  margin: 0 auto; /* Center the chart */
}

#ultrasonicChart {
  width: 300px; /* Adjust the width */
  height: 300px; /* Adjust the height */
}

canvas {
  width: 100% !important; /* Make sure the canvas takes up the full container width */
  height: auto !important; /* Adjust height to maintain the aspect ratio */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
  border-radius: 8px; /* Optional: rounded corners */
}

.header {
  font-family: "Gloock", sans-serif;
  font-size: 40px;
  background: linear-gradient(
    to bottom,
    rgba(99, 133, 235, 0.7),
    rgba(149, 167, 221, 0.5),
    rgba(189, 194, 210, 0)
  );
  padding: 20px;
}

.logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

img {
  width: 30px;
  height: auto;
}

.rows {
  /* background-color: #63eb9e; */
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.cards {
  width: 400px;
  background-color: rgba(8, 51, 255, 0.13);
  border: 1px solid #0021bd;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Merriweather", serif;
  font-size: 25px;
  padding: 0px 20px;
}

.cards:hover {
  background-color: rgba(80, 200, 120, 0.25);
  border: 1px solid rgba(47, 141, 79, 1);
}

.value {
  background-color: rgba(6, 38, 192, 0.21);
  border: 1px solid rgba(0, 14, 83, 0.3);
  border-radius: 6px;
  display: flex;
  width: 110px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.value:hover {
  background-color: rgba(48, 170, 89, 0.3);
  border: 1px solid rgba(35, 91, 54, 0.3);
}

.footer {
  /* background-color: #c7eb63; */
  display: flex;
  height: 100%;
  width: 95%;
  justify-content: flex-end;
  font-family: "Michroma", sans-serif;
  font-size: 20px;
}
